Repository LYNDVHAR-NOBILITY/LyndvharRebase, pull requests merged in 2025-10, with the labels that each got.

#137 Deserter Adjustment
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/deserter.dm
Labels: Balance, Code

#139 Statpack Value Readjustment
  modular_azurepeak/statpacks/agile.dm
  modular_azurepeak/statpacks/mental.dm
  modular_azurepeak/statpacks/physical.dm
Labels: Enhancement, Balance, Code

#140 Outfit updates and fixes
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/deserter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/hedgemage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/vigilante.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
Labels: Enhancement, Balance

#146 Proper Guard Overhaul (It's a buff and a nerf)
  code/__DEFINES/traits.dm
  code/modules/jobs/job_types/roguetown/garrison/squire.dm
  code/modules/jobs/job_types/roguetown/garrison/townguard.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
Labels: Balance, Code

#148 Templar Scabbard and Strap fixes
  code/modules/jobs/job_types/roguetown/church/templar.dm
Labels: Balance, Code

#150 fixes the stupid tail i added
  icons/mob/sprite_accessory/tails/tails.dmi
Labels: Sprite

#154 Apostasy Rework
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/datums/gods/patrons/old_god.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/confessor.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthoclasses/psydoniantemplar.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/life.dm
  code/modules/spells/roguetown/acolyte/abyssor.dm
  code/modules/spells/roguetown/acolyte/eora.dm
  code/modules/spells/roguetown/acolyte/general.dm
  modular_azurepeak/code/modules/spells/pantheon/inhumen/baotha.dm
  modular_azurepeak/code/modules/spells/pantheon/inhumen/matthios.dm
  modular_azurepeak/virtues/combat.dm
  sound/magic/godless.ogg
Labels: Enhancement, Balance, Code, Sound
