Repository LYNDVHAR-NOBILITY/LyndvharRebase, pull requests merged in 2025-09, with the labels that each got.

#73 Churn Wealthy fixes
  code/modules/spells/spell_types/wizard/misc/lesser_knock.dm
  modular_azurepeak/code/modules/spells/pantheon/inhumen/matthios.dm
Labels: Documentation, Enhancement, Code

#74 Chat fixes and various improvements.
  code/__DEFINES/traits.dm
  code/__HELPERS/roundend.dm
  code/controllers/subsystem/input.dm
  code/game/objects/items.dm
  code/game/objects/structures.dm
  code/game/turfs/closed/_closed.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/client/verbs/typing.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/keybindings/communication.dm
  code/modules/mob/living/carbon/human/species_types/furry/lupian.dm
  code/modules/mob/living/carbon/human/species_types/furry/vulpkanin.dm
  code/modules/mob/living/say.dm
  code/modules/mob/say.dm
  html/player/mob_act.html
  html/player/mob_bigact.html
  html/player/mob_speak.html
  html/typing_indicator.html
  interface/skin.dmf
  roguetown.dme
Labels: Enhancement, Code

#76 Saltlian accent
  code/modules/mob/living/carbon/human/species_types/roguetown/roguetown_species.dm
  modular_hearthstone/code/datums/accents.dm
  strings/asian_replacement.json
Labels: Enhancement, Code

#79 limbhealth nudge. try it out.
  code/modules/roguetown/roguejobs/engineer/prostheticarm.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
Labels: Balance, Code

#80 this didn't like it
  code/modules/balloon_alert/balloon_alert.dm
Labels: Code

#84 Couple things (rewrites, mob updates, etc)
  code/datums/combat_music.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/game/objects/items/rogueweapons/ranged/bows.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/clothing/rogueclothes/headwear/helmet/medium_helmet.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/jobs/job_types/roguetown/courtier/jester.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/crestguardian.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/routier.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/seonjang.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/vaquero.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/xuefengclan.dm
  code/modules/jobs/job_types/roguetown/peasants/knavewench.dm
  code/modules/jobs/job_types/roguetown/yeomen/barkeep.dm
  code/modules/mob/living/carbon/human/npc/drow.dm
  code/modules/mob/living/carbon/human/npc/searaider.dm
  code/modules/mob/living/carbon/human/npc/thief.dm
  code/modules/roguetown/roguemachine/mail.dm
  modular_azurepeak/code/datums/loadout.dm
  modular_azurepeak/code/game/objects/items/mercmedals.dm
  modular_azurepeak/code/game/objects/items/scabbard.dm
  roguetown.dme
Labels: Documentation, Enhancement, Balance, Code, Lore

#85 Tutorial Rewrites (and some statsheet re-adjustments for some jobs)
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  code/modules/jobs/job_types/roguetown/nobility/suitor.dm
  code/modules/jobs/job_types/roguetown/peasants/lunatic.dm
  code/modules/jobs/job_types/roguetown/peasants/soilson.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/jobs/job_types/roguetown/yeomen/guildmaster.dm
  code/modules/jobs/job_types/roguetown/yeomen/guildsman.dm
  code/modules/jobs/job_types/roguetown/yeomen/villagechief.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/mob/living/carbon/human/npc/searaider.dm
Labels: Documentation, Balance, Code, Lore

#92 Renovates the Deserters
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/mob/living/carbon/human/npc/bog_deserters.dm
  code/modules/mob/living/carbon/human/npc/skeleton/skeleton.dm
Labels: Balance, Code, Lore

#93 Zybantu and Grenzelhoft Migration Waves
  code/datums/migrants/migrant_waves/grenzelhoft roles.dm
  code/datums/migrants/migrant_waves/grenzelhoft wave.dm
  code/datums/migrants/migrant_waves/zybantu roles.dm
  code/datums/migrants/migrant_waves/zybantu wave.dm
  roguetown.dme
Labels: Enhancement, Balance, Code, Lore

#94 Player Quality Nerfs
  code/modules/jobs/job_types/roguetown/Inquisition/absolutionist.dm
  code/modules/jobs/job_types/roguetown/Inquisition/orthodoxist.dm
  code/modules/jobs/job_types/roguetown/Inquisition/puritan.dm
  code/modules/jobs/job_types/roguetown/adventurer/bandit.dm
  code/modules/jobs/job_types/roguetown/adventurer/villager.dm
  code/modules/jobs/job_types/roguetown/adventurer/wretch.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/jobs/job_types/roguetown/courtier/butler.dm
  code/modules/jobs/job_types/roguetown/courtier/councillor.dm
  code/modules/jobs/job_types/roguetown/courtier/jester.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/dungeoneer.dm
  code/modules/jobs/job_types/roguetown/garrison/squire.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
  code/modules/jobs/job_types/roguetown/mercenaries/mercenary.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/jobs/job_types/roguetown/nobility/suitor.dm
  code/modules/jobs/job_types/roguetown/yeomen/guildmaster.dm
  code/modules/jobs/job_types/roguetown/yeomen/tailor.dm
  code/modules/jobs/job_types/roguetown/yeomen/villagechief.dm
  code/modules/jobs/job_types/roguetown/youngfolk/apothecary.dm
Labels: Balance, Code

#103 Atgervian Mercenary desc adjustments
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/atgervi.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/grudgebearer.dm
Labels: Balance, Code, Lore

#108 Updated Language Lore
  code/modules/language/common.dm
  code/modules/language/draconic.dm
  code/modules/language/roguetown/dunargi.dm
  code/modules/language/roguetown/dwarf.dm
  code/modules/language/roguetown/elf.dm
  code/modules/language/roguetown/forvheipan.dm
  code/modules/language/roguetown/grenzelhoftian.dm
  code/modules/language/roguetown/gronnic.dm
  code/modules/language/roguetown/hellspeak.dm
  code/modules/language/roguetown/orc.dm
  code/modules/language/roguetown/regional/saltlian.dm
  code/modules/language/roguetown/valorian.dm
Labels: Enhancement, Code, Lore

#111 Magic ability fluff
  code/modules/spells/roguetown/acolyte/resurrect.dm
  code/modules/spells/spell_types/divine/projectiles_single/divine_blast.dm
  code/modules/spells/spell_types/divine/projectiles_single/unholy_blast.dm
  code/modules/spells/spell_types/wizard/buffs_debuffs/darkvision.dm
  code/modules/spells/spell_types/wizard/buffs_debuffs/featherfall.dm
  code/modules/spells/spell_types/wizard/buffs_debuffs/giants_strength.dm
  code/modules/spells/spell_types/wizard/buffs_debuffs/hawks_eyes.dm
  code/modules/spells/spell_types/wizard/buffs_debuffs/longstrider.dm
  code/modules/spells/spell_types/wizard/buffs_debuffs/stoneskin.dm
  code/modules/spells/spell_types/wizard/conjure/conjure_armor.dm
  code/modules/spells/spell_types/wizard/conjure/conjure_weapon.dm
  code/modules/spells/spell_types/wizard/invoked_aoe/aerosolize.dm
  code/modules/spells/spell_types/wizard/invoked_aoe/blade_burst.dm
  code/modules/spells/spell_types/wizard/invoked_aoe/snap_freeze.dm
  code/modules/spells/spell_types/wizard/invoked_aoe/thunderstrike.dm
  code/modules/spells/spell_types/wizard/invoked_aoe/wither.dm
  code/modules/spells/spell_types/wizard/invoked_single_target/counterspell.dm
  code/modules/spells/spell_types/wizard/invoked_single_target/frostbite.dm
  code/modules/spells/spell_types/wizard/invoked_single_target/hellishrebuke.dm
  code/modules/spells/spell_types/wizard/misc/arcyne_prison.dm
  code/modules/spells/spell_types/wizard/misc/blink.dm
  code/modules/spells/spell_types/wizard/misc/enchant_weapon.dm
  code/modules/spells/spell_types/wizard/misc/greater_forcewall.dm
  code/modules/spells/spell_types/wizard/misc/lesser_knock.dm
  code/modules/spells/spell_types/wizard/projectiles_aoe/fireball.dm
  code/modules/spells/spell_types/wizard/projectiles_aoe/greater_fireball.dm
  code/modules/spells/spell_types/wizard/projectiles_single/air_blade.dm
  code/modules/spells/spell_types/wizard/projectiles_single/arcyne_bolt.dm
  code/modules/spells/spell_types/wizard/projectiles_single/blood_lightning.dm
  code/modules/spells/spell_types/wizard/projectiles_single/blood_steal.dm
  code/modules/spells/spell_types/wizard/projectiles_single/frost_bolt.dm
  code/modules/spells/spell_types/wizard/projectiles_single/spitfire.dm
  code/modules/spells/spell_types/wizard/utility/create_campfire.dm
  code/modules/spells/spell_types/wizard/utility/light.dm
  code/modules/spells/spell_types/wizard/utility/mindlink.dm
  code/modules/spells/spell_types/wizard/utility/summon_weapon.dm
Labels: Code, Lore

#116 Cooking over a fire no longer has a burn risk
  code/game/objects/lighting/_base_roguelight.dm
Labels: Balance, Code

#119 Parity Quickfixes
  code/__DEFINES/roguetown.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/garrison/sergeant.dm
  code/modules/jobs/job_types/roguetown/garrison/squire.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/forvthrall.dm
  code/modules/jobs/job_types/roguetown/mercenaries/mercenary.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/jobs/job_types/roguetown/youngfolk/apothecary.dm
Labels: Balance, Code

#123 Temporary fix to migrant examine.
  _maps/map_files/roguetest/roguetest.dmm
  code/modules/mob/living/carbon/human/examine.dm
  config/external_rsc_urls.txt
  roguetown.dme
Labels: Mapping, Code

#122 repair chowder
  modular_lynd/code/modules/repair_powder.dm
  modular_lynd/icons/roachpowder.dmi
  roguetown.dme
  sound/foley/repairpowder.ogg
Labels: Enhancement, Balance, Spriting, Code, Sound

#134 Half-measure for Lyndvharification of Gronnic items
  code/__DEFINES/roguetown.dm
  code/game/objects/items/rogueweapons/melee/special.dm
  code/modules/cargo/packsrogue/merchant/armor/merch_armor_exotic.dm
  code/modules/cargo/packsrogue/merchant/weapons/merch_weapons_foreign.dm
  code/modules/clothing/rogueclothes/armor/rhaenval.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/atgervi.dm
  roguetown.dme
Labels: Balance, Code, Lore

#135 Atgervi fixes and Searaider Adjustment
  code/modules/jobs/job_types/roguetown/mercenaries/classes/atgervi.dm
  code/modules/mob/living/carbon/human/npc/searaider.dm
Labels: Balance, Code
